<form role="form" class="col-sm-4">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-control" name="first_name" ng-model="player.first_name" />
  </div>

  <button ng-click="updatePlayer()" class="btn btn-default">Update/Create Player</button>
</form>
