[Validate form]
    <form id="player_edit_form" name="player_edit_form">
      <label for="first_name" class="ball-label" >First Name:</label>
      <input id="first_name" name="first_name" ng-model="player.first_name" class="ball-text-input" />
      <button ng-click="updatePlayer()" class="ball-button">Update Player</button>
      <button ng-click="resetPlayer()" class="ball-button">Reset Form</button>
    </form>
