<form role="form" class="col-sm-4">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input class="form-control" name="first_name" ng-model="player.first_name" />
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input class="form-control" name="last_name" ng-model="player.last_name" />
  </div>

  <% if controller.request.params[:action] == 'new' %>
    <button ng-click="createPlayer()" class="btn btn-primary">Create Player</button>
  <% else %>
    <button ng-click="updatePlayer()" class="btn btn-primary">Update Player</button>
    <button ng-click="deletePlayer()" class="col-sm-offset-1 btn btn-danger">Delete Player</button>
  <% end %>
</form>
