<div id="ballers-ng-app" ng-app="NgBallers">

  <h4>Basketball players with details</h4>
  <div ng-controller="BallersCtrl">
    <p>[Create form with save and reset]</p>

    <p>[Table with Sort, Serach]</p>
    <ul>
      <li ng-repeat="player in players">
        {{player.first_name}}&nbsp;{{player.last_name}} [Details/Edit on Click]
      </li>
    </ul>
  </div>

</div>
