<div ng-app="NgBallers">

  <div ng-controller="BallersCtrl">

    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-xs-3">
            <button class="btn btn-primary" id="addPlayerButton" ng-click="go('<%= ballers_path %>/new')">Add a new player</button>
          </th>
          <th class="col-xs-3"></th>
          <th class="col-xs-3">
            <span id="filterIcon" class="glyphicon glyphicon-filter"></span>
            <input class="form-control" id="filter" ng-model="playerFilter" placeholder="Filter" />
          </th>
        </tr>
        <tr>
          <th class="sortable" id="firstName" ng-click="predicate='first_name'; reverse=!reverse; changeSortIcon('firstName', reverse)">First Name</th>
          <th class="sortable" id="lastName" ng-click="predicate='last_name'; reverse=!reverse; changeSortIcon('lastName', reverse)">Last Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="player in players | filter:playerFilter | orderBy:predicate:reverse"
            ng-click="go('<%= ballers_path %>/' + player.id)">
          <td ng-bind-html="player.first_name | highlight:playerFilter"></td>
          <td ng-bind-html="player.last_name | highlight:playerFilter"></td>
          <td>[Details/Edit on Click]</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
