<div ng-app="NgBallers">
  <div ng-controller="BallerCtrl">
    <div class="row" id="player-info">
      <div class="col-sm-6">
        <strong>Fisrt Name: </strong>{{player.first_name}}<br />
        <strong>Last Name: </strong>{{player.last_name}}<br />
        <strong>Age: </strong>{{getAge(player.born)}}<br />
      </div>
    </div>

    <div class="row">
      <%= render 'player_create_edit' %>
    </div>
  
  </div>
</div>
