<div id='frog_app'>

</div>

<script type="text/javascript">
  $(function(){ // That's the same as '$(document).ready'
                // or jQuery(document).ready.
                // It executes when HTML-Document is loaded and DOM is ready
                // $(window).load executes when complete page is fully loaded,
                // including all frames, objects and images

    window.router = new App.Routers.FrogRouter();
    Backbone.history.start();
  });
</script>

<script type="text/html" id="frog_row_template">
  <%= render :partial => 'frogs/templates/frog_row' %>
</script>
<script type="text/html" id="frog_form_template">
  <%= render :partial => 'frogs/templates/frog' %>
</script>
<script type="text/html" id="frogs_template">
  <%= render :partial => 'frogs/templates/frogs' %>
</script>
