<div id='frog_app' class="col-xs-10 col-sm-6">

</div>

<script type="text/javascript">
  ;$(function(){ // That's the same as '$(document).ready'
                // or jQuery(document).ready.
                // It executes when HTML-Document is loaded and DOM is ready
                // $(window).load executes when complete page is fully loaded,
                // including all frames, objects and images

    window.router = new App.Routers.FrogRouter();
    Backbone.history.start();
  });
</script>
