img#sortIndicator {
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

.sortable {
  cursor: pointer;
}

#filter {
  font-weight: normal;
  padding-left: 30px;
}

#filterIcon {
  position: absolute;
  top: 8px;
  z-index: 2;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}

#filter:-moz-placeholder {
  color: #ccc;
  font-weight: normal;
}
#filter::-moz-placeholder {
  color: #ccc;
  font-weight: normal;
}
#filter:-ms-input-placeholder {
  color: #ccc;
  font-weight: normal;
}
#filter::-webkit-input-placeholder {
  color: #ccc;
  font-weight: normal;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  z-index: 9999;
}
