#frog_form {
  width: 250px;
  height: 210px;
  white-space:nowrap;
}

.frog-properties {
  margin-top: 20px;
}

.frog-properties strong {
  width: 80px;
  display: inline-block;
}

#edit_frog_form.throbberBtn, #delete_frog_form.throbberBtn, #save_edit_frog_form.throbberBtn {
  background-image: url('/assets/throbber.gif');
  background-repeat: no-repeat;
}
