.ajax-loader {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba( 255, 255, 255, .8 ) image-url('ajax-loader.gif') center no-repeat;
}

.loading {
  overflow: hidden;   
}

.loading .ajax-loader {
  display: block;
}

.saved-blink {
  background: #a4d4e4;
  border: 1px solid #cccccc;
  border-radius: 4px;
  width: 200px;
  padding: 10px;
  margin: 10px 0 10px 0;
  font-size: 13px;
  color: #333333;
  text-align: center;
}

.saved-blink.disappear {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: opacity 2s linear;
    -moz-transition: opacity 2s linear;
    -ms-transition: opacity 2s linear;
    -o-transition: opacity 2s linear;
    transition: opacity 2s linear;
}
