<div id="frog_form">
  {{#edit}}

    <button id="save_edit_frog_form" class="edit_button">Save</button>
    <button id="cancel_edit_frog_form" class="edit_button">Cancel</button>
    <div class="frog_property" id="name_line">
      <label for="name">Name</label> 
      <input type="text" id="name" value="{{name}}" />
    </div>
    <div class="frog_property" id="age_line">
      <label for="age">Age</label> 
      <input type="text" id="age" value="{{age}}" />
    </div>
  {{/edit}}
  {{^edit}}

    <button id="edit_frog_form" class="edit_button">Edit</button>
    <button id="delete_frog_form" class="edit_button">Delete</button>
    <div class="frog_property">Name: {{name}}</div>
    <div class="frog_property">Age: {{age}}</div>
   
  {{/edit}}

  <%= render :partial => 'frogs/templates/throbber' %>
</div>