<button id="create_frog" class="edit_button" >Create a new Frog</button>

<table id="frogs_table" class="fancy_table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>

  <tbody></tbody>
</table>
